#include <physical_layouts.dtsi>

/ {
  Maglit40_default_layout: Maglit40_default_layout {
    compatible = "zmk,physical-layout";
    display-name = "Default layout";
    transform = <&default_transform>;
    kscan = <&kscan0>;

    keys  //                     w   h    x    y     rot    rx    ry
        = <&key_physical_attrs 100 100    0    0       0     0     0>
        , <&key_physical_attrs 100 100  100    0       0     0     0>
        , <&key_physical_attrs 100 100  200    0       0     0     0>
        , <&key_physical_attrs 100 100  300    0       0     0     0>
        , <&key_physical_attrs 100 100  400    0       0     0     0>
        , <&key_physical_attrs 100 100  500    0       0     0     0>
        , <&key_physical_attrs 100 100  725    0       0     0     0>
        , <&key_physical_attrs 100 100  825    0       0     0     0>
        , <&key_physical_attrs 100 100  925    0       0     0     0>
        , <&key_physical_attrs 100 100 1025    0       0     0     0>
        , <&key_physical_attrs 100 100 1125    0       0     0     0>
        , <&key_physical_attrs 150 100 1225    0       0     0     0>
        , <&key_physical_attrs 100 100   25  100       0     0     0>
        , <&key_physical_attrs 100 100  125  100       0     0     0>
        , <&key_physical_attrs 100 100  225  100       0     0     0>
        , <&key_physical_attrs 100 100  325  100       0     0     0>
        , <&key_physical_attrs 100 100  425  100       0     0     0>
        , <&key_physical_attrs 100 100  525  100       0     0     0>
        , <&key_physical_attrs 100 100  750  100       0     0     0>
        , <&key_physical_attrs 100 100  850  100       0     0     0>
        , <&key_physical_attrs 100 100  950  100       0     0     0>
        , <&key_physical_attrs 100 100 1050  100       0     0     0>
        , <&key_physical_attrs 100 100 1150  100       0     0     0>
        , <&key_physical_attrs 125 100 1250  100       0     0     0>
        , <&key_physical_attrs 175 100    0  200       0     0     0>
        , <&key_physical_attrs 100 100  175  200       0     0     0>
        , <&key_physical_attrs 100 100  275  200       0     0     0>
        , <&key_physical_attrs 100 100  375  200       0     0     0>
        , <&key_physical_attrs 100 100  475  200       0     0     0>
        , <&key_physical_attrs 100 100  575  200       0     0     0>
        , <&key_physical_attrs 100 100  800  200       0     0     0>
        , <&key_physical_attrs 100 100  900  200       0     0     0>
        , <&key_physical_attrs 100 100 1000  200       0     0     0>
        , <&key_physical_attrs 100 100 1100  200       0     0     0>
        , <&key_physical_attrs 150 100 1200  200       0     0     0>
        , <&key_physical_attrs 100 100  125  300       0     0     0>
        , <&key_physical_attrs 125 100  225  300       0     0     0>
        , <&key_physical_attrs 200 100  350  300       0     0     0>
        , <&key_physical_attrs 150 100  550  300       0     0     0>
        , <&key_physical_attrs 200 100  825  300       0     0     0>
        , <&key_physical_attrs 125 100 1025  300       0     0     0>
        , <&key_physical_attrs 100 100 1150  300       0     0     0>
        ;
    };
    
    position_map {
        compatible = "zmk,physical-layout-position-map";
        complete;

        default_layout_map: default_layout {
            physical-layout = <&Maglit40_default_layout>;
            positions
                = < 0  1  2  3  4  5     6  7  8  9 10 11>
                , <10 11 12 13 14 15    16 17 18 19 20 21>
                , <20 21 22 23 24 25    26 27 28 29 30 31>
                , <      30 31 32 33    36 37 38         >
                ;
        };
    };
};