if SHIELD_SPLITENT_LEFT

config ZMK_KEYBOARD_NAME
    default "Splitent"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SPLITENT_LEFT || SHIELD_SPLITENT_RIGHT

config ZMK_SPLIT
    default y

endif