#include <physical_layouts.dtsi>

/ {
    nox40_default_layout: nox40_default_layout {
        compatible = "zmk,physical-layout";
        display-name = "Nox40";
        transform = <&default_transform>;
        kscan = <&kscan0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0  100       0     0     0>
            , <&key_physical_attrs 100 100  100   50       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300   25       0     0     0>
            , <&key_physical_attrs 100 100  400   50       0     0     0>
            , <&key_physical_attrs 100 100  500  100       0     0     0>
            , <&key_physical_attrs 100 100  650  100       0     0     0>
            , <&key_physical_attrs 100 100  750   50       0     0     0>
            , <&key_physical_attrs 100 100  850   25       0     0     0>
            , <&key_physical_attrs 100 100  950    0       0     0     0>
            , <&key_physical_attrs 100 100 1050   50       0     0     0>
            , <&key_physical_attrs 100 100 1150  100       0     0     0>
            , <&key_physical_attrs 100 100    0  200       0     0     0>
            , <&key_physical_attrs 100 100  100  150       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  125       0     0     0>
            , <&key_physical_attrs 100 100  400  150       0     0     0>
            , <&key_physical_attrs 100 100  500  200       0     0     0>
            , <&key_physical_attrs 100 100  650  200       0     0     0>
            , <&key_physical_attrs 100 100  750  150       0     0     0>
            , <&key_physical_attrs 100 100  850  125       0     0     0>
            , <&key_physical_attrs 100 100  950  100       0     0     0>
            , <&key_physical_attrs 100 100 1050  150       0     0     0>
            , <&key_physical_attrs 100 100 1150  200       0     0     0>
            , <&key_physical_attrs 100 100    0  300       0     0     0>
            , <&key_physical_attrs 100 100  100  250       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  225       0     0     0>
            , <&key_physical_attrs 100 100  400  250       0     0     0>
            , <&key_physical_attrs 100 100  750  250       0     0     0>
            , <&key_physical_attrs 100 100  850  225       0     0     0>
            , <&key_physical_attrs 100 100  950  200       0     0     0>
            , <&key_physical_attrs 100 100 1050  250       0     0     0>
            , <&key_physical_attrs 100 100 1150  300       0     0     0>
            , <&key_physical_attrs 100 100  275  375       0     0     0>
            , <&key_physical_attrs 100 100  375  400    1000   500   475>
            , <&key_physical_attrs 100 100  475  425    2000   550   500>
            , <&key_physical_attrs 100 100  675  425 (-2000)   700   500>
            , <&key_physical_attrs 100 100  775  400 (-1000)   750   475>
            , <&key_physical_attrs 100 100  875  375       0     0     0>
            ;
    };

};
